<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnPath</title>
</head>

<body>
    <h1>LearnPath</h1>
    <!-- 全体を表すコンテナ -->
    <div id="container">
        <!-- ナビゲーション -->
        <div id="navi">
            {% include "layouts/navi.html" %}
        </div>
        <!-- メインコンテンツ -->
        <div id="main">
            {{ content|safe }}
        </div>
        <!-- 目次 -->
        <div id="toc">
            {% include "layouts/toc.html" %}
        </div>
    </div>

</body>

</html>