<details open>
    <summary>Programming</summary>
    <ul>
        <li><a href="{{ site.baseurl }}/pages/programming/programming">プログラミング全般</a></li>
        <li><a href="{{ site.baseurl }}/pages/programming/linux">Linux</a></li>
        <li><a href="{{ site.baseurl }}/pages/programming/database">DataBase</a></li>
        <li><a href="{{ site.baseurl }}/pages/programming/data-format">データフォーマット</a></li>
        <li><a href="{{ site.baseurl }}/pages/programming/regex">正規表現</a></li>
        <li><a href="{{ site.baseurl }}/pages/programming/markdown">Markdown</a></li>
        <li><a href="{{ site.baseurl }}/pages/programming/vscode">VSCode</a></li>
        <li><a href="{{ site.baseurl }}/pages/programming/vimium">vimium</a></li>
        <li><a href="{{ site.baseurl }}/pages/programming/gcc-clang">GCC/Clang</a></li>
        <li><a href="{{ site.baseurl }}/pages/programming/make-cmake">Make/CMake</a></li>
        <li><a href="{{ site.baseurl }}/pages/programming/docker">Docker</a></li>
    </ul>
</details>

<details open>
    <summary>Rust</summary>
    <ul>
        <li><a href="{{ site.baseurl }}/pages/rust/rust">Rust</a></li>
    </ul>
</details>

<details open>
    <summary>WEB</summary>
    <ul>
        <li><a href="{{ site.baseurl }}/pages/web/javascript">JavaScript</a></li>
        <li><a href="{{ site.baseurl }}/pages/web/html">HTML</a></li>
        <li><a href="{{ site.baseurl }}/pages/web/css">CSS</a></li>
    </ul>
</details>

<details>
    <summary>Python</summary>
    <ul>
        <li><a href="{{ site.baseurl }}/pages/python/python">Python</a></li>
        <li><a href="{{ site.baseurl }}/pages/python/pip">pip</a></li>
        <li><a href="{{ site.baseurl }}/pages/python/venv">venv</a></li>

        <details>
            <summary>Standard</summary>
            <ul>
                <li><a href="{{ site.baseurl }}/pages/python/standard/os">OS</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/standard/subprocess">subprocess</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/standard/pathlib">pathlib</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/standard/re">re</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/standard/sqlite3">SQLite3</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/standard/shutil">shutil</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/standard/logging">logging</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/standard/markupsafe">markupsafe</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/standard/random">random</a></li>
            </ul>
        </details>

        <details>
            <summary>External</summary>
            <ul>
                <li><a href="{{ site.baseurl }}/pages/python/external/flask">Flask</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/external/fast_api">FastAPI</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/external/requests">requests</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/external/beautifulsoup">BeautifulSoup</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/external/dotenv">dotenv</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/external/mysql-connector">mysql-connector</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/external/pyyaml">PyYAML</a></li>
                <li><a href="{{ site.baseurl }}/pages/python/external/markdown_python">Markdown</a></li>
            </ul>
        </details>
    </ul>
</details>

<details>
    <summary>C言語</summary>
    <ul>
        <li><a href="{{ site.baseurl }}/pages/c/c">C言語</a></li>
        <li><a href="{{ site.baseurl }}/pages/c/cpp">C++</a></li>
        <li><a href="{{ site.baseurl }}/pages/c/sdl2">SDL2</a></li>
        <li><a href="{{ site.baseurl }}/pages/c/sdl3">SDL3</a></li>

    </ul>
</details>