<ul>
    <details open>
        <summary>Programming</summary>
        <li><a href="/programming/linux" class="md-link">Linux</a></li>
        <li><a href="/programming/regex" class="md-link">正規表現</a></li>
        <li><a href="/programming/markdown" class="md-link">Markdown</a></li>
        <li><a href="/programming/sqlite" class="md-link">SQLlite</a></li>

        <details open>
            <summary>C言語</summary>
            <li><a href="/c/c" class="md-link">C言語</a></li>
            <li><a href="/c/cpp" class="md-link">C++</a></li>
        </details>

        <details open>
            <summary>Python</summary>
            <li><a href="/python/python" class="md-link">Python</a></li>
            <li><a href="/python/pip" class="md-link">pip</a></li>
            <li><a href="/python/venv" class="md-link">venv</a></li>
            <details open>
                <summary>Standard</summary>
                <li><a href="/python/standard/os" class="md-link">OS</a></li>
                <li><a href="/python/standard/subprocess" class="md-link">subprocess</a></li>
                <li><a href="/python/standard/sqlite3" class="md-link">SQLite3</a></li>
                <li><a href="/python/standard/shutil" class="md-link">shutil</a></li>
            </details>
            <details open>
                <summary>External</summary>
                <li><a href="/python/external/flask" class="md-link">Flask</a></li>
                <li><a href="/python/external/fast_api" class="md-link">FastAPI</a></li>
                <li><a href="/python/external/requests" class="md-link">requests</a></li>
                <li><a href="/python/external/beautifulsoup" class="md-link">BeautifulSoup</a></li>
                <li><a href="/python/external/markdown_python" class="md-link">Markdown(python)</a></li>
            </details>
        </details>

        <details open>
            <summary>WEB</summary>
            <li><a href="/web/javascript" class="md-link">JavaScript</a></li>
            <li><a href="/web/html" class="md-link">HTML</a></li>
        </details>

    </details>
</ul>